@page "/Bookmarks"
@rendermode InteractiveServer

<PageTitle>Bookmarks</PageTitle>

<h3>Bookmarks</h3>

@* TODO: Create book mark page so that when a user is signed in, if any searches have been saved, display them in a card format *@

@code {
    
}