@page "/Login"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle> 

<h3>Login</h3>

<main>
    <form>
        @* TODO: Configure signup page only if user isn't logged in *@
        @* TODO: Create signup form to signup a user *@
    </form>
</main>

@code {
    
}
