@page "/Signup"
@rendermode InteractiveServer

<PageTitle>Signup</PageTitle> 

<h3>Signup</h3>

<form>
    @* TODO: Configure login page only if user isn't logged in *@
    @* TODO: Create login form to sign in a user *@
</form>

@code {
    
}
